{% extends "finance/base.html" %}

{% block content %}
<div class="container mt-5" style="max-width: 500px;">

    <h2 class="mb-4 text-center">Criar nova senha</h2>

    {% if validlink %}
    <form method="POST">
        {% csrf_token %}

        <div class="mb-3">
            <label class="form-label">Nova senha</label>
            {{ form.new_password1 }}
        </div>

        <div class="mb-3">
            <label class="form-label">Confirmar senha</label>
            {{ form.new_password2 }}
        </div>

        <button type="submit" class="btn btn-success w-100">
            Redefinir senha
        </button>
    </form>

    {% else %}
    <p class="text-danger text-center">
        Link inválido ou expirado.
    </p>
    <div class="text-center">
        <a href="{% url 'password_reset' %}" class="btn btn-primary">Solicitar novo link</a>
    </div>
    {% endif %}

</div>
{% endblock %}